.DS_Store
node_modules
package-lock.json

lib

data
features
results

plots/.ipynb_checkpoints
plots/*.html
plots/graph_visuals.py
plots/d3/new*
plots/d3/latest
plots/d3/graphs*
plots/d3/hmm*
plots/sweeps.json
plots/gdplots
plots/sweeps*

*.ipynb
*.png

connections*
good*
hists*
thomas
__pycache__
hmm.d.ts
mary-markov.d.ts
profile-hmm.ts
test.py